@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
*{
    font-family: 'Outfit';
}
.placeholder-color{
    color: #e0e0e0;
    font-weight: 300;
}
